/* Full-width inputs */
.input[type=thickness], input[type=speed], input[type=length], input[type=timeOfCutting] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-table;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-content: center;
}
/* Set a style for all buttons */
.button {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 20x 0;
	border: navy;
	cursor: pointer;
	width: 80%;
	align-content: center;
	align-items: center;
}
.span {
	style="width: 200px"
	
}
}