/* Bordered form */
form {
	border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-table;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-content: center;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
	align-content: center;
}
center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

}
